@model prjCafeteriaUnapec.detallefactura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>detallefactura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.unidades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unidades)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARTICULO.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARTICULO.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.factura.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.factura.fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idDetalleFactura }) |
    @Html.ActionLink("Back to List", "Index")
</p>
