@model IEnumerable<prj_cafeteria.Models.DetalleFactura>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Detalle Factura</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>

<div class="row">
    <div class="col-lg-12">
        <form method="get" action="../Historial_Unidades_Vendidas_por_Producto/Index">
            <input type="text" id="Criterio" name="Criterio" />
            <input type="submit" id="cmdBuscarV" name="BuscarV" placeholder="producto" value="Filtrar" class="btn btn-primary" />
        </form>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.unidades)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Articulos.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Factura.fecha)
        </th>
        <th>
            @Html.DisplayName("Factura")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.unidades)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Articulos.DESCRIPCION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Factura.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Factura.ID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idDetalleFactura }) |
                @Html.ActionLink("Details", "Details", new { id = item.idDetalleFactura }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idDetalleFactura })
            </td>
        </tr>
    }
    <tfoot>
        <tr>
            <td>
                @Html.ActionLink("Ver Historial de Unidades Vendidas por Producto", "Index", "Historial_Unidades_Vendidas_por_Producto")
            </td>
        </tr>
    </tfoot>

</table>
