@model prj_cafeteria.Models.Articulos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Articulos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COSTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COSTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXISTENCIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXISTENCIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MARCA.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MARCA.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROVEEDOR.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVEEDOR.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO1.Estado1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO1.Estado1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
