@model IEnumerable<prj_cafeteria.Models.Articulos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Articulos</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COSTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXISTENCIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MARCA.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROVEEDOR.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO1.Estado1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COSTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EXISTENCIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MARCA.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROVEEDOR.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO1.Estado1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
