@model prjCafeteriaUnapec.FACTURACION_ARTICULOS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FACTURACION_ARTICULOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Unidades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidades)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaVenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoArticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoArticulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARTICULO.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARTICULO.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLEADO.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLEADO.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NoFactura }) |
    @Html.ActionLink("Back to List", "Index")
</p>
