@model IEnumerable<prjCafeteriaUnapec.FACTURACION_ARTICULOS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Unidades)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaVenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MontoArticulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ARTICULO.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLEADO.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO.NOMBRE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Unidades)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaVenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MontoArticulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ARTICULO.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLEADO.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO.NOMBRE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NoFactura }) |
            @Html.ActionLink("Details", "Details", new { id=item.NoFactura }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NoFactura })
        </td>
    </tr>
}

</table>
